<ion-header>
 <ion-toolbar color="primary">
	 
      <ion-title size="">Back</ion-title>
    </ion-toolbar>
</ion-header>
			
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img src="../assets/ganesh1.png" ></ion-img>

  <h1 class="ion-text-center" >|| गणेश जी की आरती  ||</h1>

  <p class="ion-text-center">जय गणेश जय गणेश,जय गणेश देवा । <br>माता जाकी पार्वती,पिता महादेवा ॥</p>

  <p class="ion-text-center">एक दंत दयावंत,चार भुजा धारी ।<br>माथे सिंदूर सोहे,मूसे की सवारी ॥</p>

  <p class="ion-text-center">जय गणेश जय गणेश,जय गणेश देवा ।  <br> माता जाकी पार्वती,पिता महादेवा ॥</p>

  <p class="ion-text-center">पान चढ़े फल चढ़े,और चढ़े मेवा ।  <br> लड्डुअन का भोग लगे,संत करें सेवा ॥</p>

  <p class="ion-text-center">जय गणेश जय गणेश,जय गणेश देवा ।  <br> माता जाकी पार्वती,पिता महादेवा ॥</p>

 <p class="ion-text-center">अंधन को आंख देत,कोढ़िन को काया ।  <br>बांझन को पुत्र देत,निर्धन को माया ॥</p>

 <p class="ion-text-center">जय गणेश जय गणेश,जय गणेश देवा ।  <br> माता जाकी पार्वती,पिता महादेवा ॥</p>
 
 <p class="ion-text-center">'सूर' श्याम शरण आए,सफल कीजे सेवा ।  <br> माता जाकी पार्वती,पिता महादेवा ॥</p>
 <p class="ion-text-center">जय गणेश जय गणेश,जय गणेश देवा ।  <br> माता जाकी पार्वती,पिता महादेवा ॥</p>
 
 
 <ion-button expand="full"><ion-icon name="logo-whatsapp"></ion-icon> &nbsp;  WhatsApp पर शेयर करें </ion-button>
</ion-content>