#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
  background:#FF9933;
}


ion-card{
  background:#FF9933;

}



.orangeBox {
  
    padding: 8px;
    border-radius: 10px;
}

.user_Name {

  justify-content: center;
  
}

.sud ion-col {
  
  text-align: center;
}

.bb{height:100%;
--padding-start: 1px;
--padding-end: 1px;

    }
	
span.uptext {
    margin-top: 10px!important;
	    color: blue;
    font-size: 11px;
}
	
span.bottomtext {font-size: 7px!important;
    margin-top: 10px!important;
}
	
h1.uptext_h {
    margin-top: 8px;
    font-size: 28px;
    margin-bottom: 1px;
    color:#020202;
    font-weight: 700;
    line-height: 1.2;
}	


p.bottomtext2 {
    font-size: 7px;
    margin-top: 1px;
}

h1.uptext_th {
    margin-top: 8px;
    font-size: 18px;
    margin-bottom: 1px;
    color: white;
    font-weight: 700;
    line-height: 1.2;
}	

button.week-day {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	    height: 100%;
    padding: 8px;
    margin: 1px;
	    background-color: blue;
}

button.calendar-day {
    background-color: white;
    border: solid blue 0.5px;
}

.date-picker {
  justify-content: center;
  margin: 10px;
}