<ion-header>
 <ion-toolbar color="primary">
	 
      <ion-title size="">Back</ion-title>
    </ion-toolbar>
</ion-header>
			
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img src="../assets/ganesh1.png" ></ion-img>

  <h1 class="ion-text-center" >|| श्री गणेश चालीसा  ||</h1>
<h5 class="ion-text-center" >॥ दोहा॥</h5>
  <p class="ion-text-center">जय गणपति सदगुण सदन, कवि वर बदन कृपाल,  
 <br>विघ्न हरण मंगल करण, जय जय गिरिजालाल । </p>

<h5 class="ion-text-center" >॥ चौपाई॥</h5>

  <p class="ion-text-center">जय जय जय गणपति गणराजू, <br>मंगल भरण करण शुभ काजू ।</p>

  <p class="ion-text-center">जै गजबदन सदन सुखदाता, <br> विश्व विनायक बुद्धि विधाता ।</p>

  <p class="ion-text-center">वक्र तुण्ड शुचि शुण्ड सुहावन,  <br> तिलक त्रिपुण्ड भाल मन भावन ।</p>

  <p class="ion-text-center">राजत मणि मुक्तन उर माला, <br> स्वर्ण मुकुट सिर नयन विशाला ।</p>

 <p class="ion-text-center">पुस्तक पाणि कुठार त्रिशूलं , <br>मोदक भोग सुगन्धित फूलं ।</p>

 <p class="ion-text-center">सुन्दर पीताम्बर तन साजित ,<br> चरण पादुका मुनि मन राजित ।</p>
 
 <p class="ion-text-center">धनि शिव सुवन षडानन भ्राता ,<br>गौरी ललन विश्व विख्याता ।</p>
 <p class="ion-text-center">रिद्धि सिद्धि तव चंवर सुधारे ,<br>मूषक वाहन सोहत द्वारे।</p>
   <p class="ion-text-center">जय जय जय गणपति गणराजू, <br>मंगल भरण करण शुभ काजू ।</p>

  <p class="ion-text-center">जै गजबदन सदन सुखदाता, <br> विश्व विनायक बुद्धि विधाता ।</p>

  <p class="ion-text-center">वक्र तुण्ड शुचि शुण्ड सुहावन,  <br> तिलक त्रिपुण्ड भाल मन भावन ।</p>

  <p class="ion-text-center">राजत मणि मुक्तन उर माला, <br> स्वर्ण मुकुट सिर नयन विशाला ।</p>

 <p class="ion-text-center">पुस्तक पाणि कुठार त्रिशूलं , <br>मोदक भोग सुगन्धित फूलं ।</p>

 <p class="ion-text-center">सुन्दर पीताम्बर तन साजित ,<br> चरण पादुका मुनि मन राजित ।</p>
 
 <p class="ion-text-center">धनि शिव सुवन षडानन भ्राता ,<br>गौरी ललन विश्व विख्याता ।</p>
 <p class="ion-text-center">रिद्धि सिद्धि तव चंवर सुधारे ,<br>मूषक वाहन सोहत द्वारे।</p>
 
 
 <ion-button expand="full"><ion-icon name="logo-whatsapp"></ion-icon> &nbsp;  WhatsApp पर शेयर करें </ion-button>
</ion-content>