<ion-header [translucent]="true">
  <ion-toolbar color="primary">
	  <ion-buttons slot="start"> <ion-icon name="arrow-back" style="font-size: 31px;"></ion-icon>
	   </ion-buttons> 
      <ion-title size="">हमारे बारे में</ion-title>
    </ion-toolbar>
  
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<p>आरती संग्रह भारत में विभिन्न देवी-देवताओं की कई लोकप्रिय आरतियों का संग्रह है। सभी आरती हिंदी में हैं, जो भारत में एक स्थानीय भाषा है। आरती की सूची इस प्रकार है:</p>

<p>1. सुखकर्ता दुखहर्ता</p>

<p>2. नाना परिमल दूर्वा</p>

<p>3. शेंदूर लाल चढ़ाहो</p>

<p>4. श्री शंकर आरती</p>

<p>5. श्री देवी आरती</p>

<p>6. श्री दत्ता आरती</p>

<p>7. श्री विठ्ठल आरती - 1</p>

<p>8. श्री विठ्ठल आरती - 2</p>

<p>9. दशावतार आरती</p>

<p>10. श्री ज्ञानदेव आरती</p>

<p>11. श्री हरितालिका आरती</p>

<p>12. श्री मारुति आरती</p>

<p>13. श्री सत्यनारायण आरती</p>

<p>14. श्री नृश्री आरती</p>

<p>15. निरोपगीत</p>

<p>16. उपसंहार</p>

<p>17. गालिन लोटांगन</p>

<p>18. मंत्र पुष्पजलि</p>




</ion-content>
