<ion-header>
 <ion-toolbar color="primary">
	  <ion-buttons slot="start"> <ion-menu-button menu="first" ></ion-menu-button>
	   </ion-buttons>
      <ion-title size="">चालीसा</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-app>
<ion-scroll scrollY="true"> <ion-list>
<ion-item detail>
  <ion-thumbnail slot="start">
        <img alt="" src="./assets/ganesh.png" />
  </ion-thumbnail>
  <ion-label>
   श्री गणेश चालीसा
  </ion-label>
</ion-item>
<ion-item detail>
  <ion-thumbnail slot="start">
     <img alt="" src="./assets/jagdish.png" />
  </ion-thumbnail>
  <ion-label>
   श्री विष्णु चालीसा
  </ion-label>
</ion-item>
<ion-item detail>
  <ion-thumbnail slot="start">
     <img alt="" src="./assets/hanumanji.png" />
  </ion-thumbnail>
  <ion-label>
     हनुमान चालीसा
  </ion-label>
</ion-item>
<ion-item detail>
  <ion-thumbnail slot="start">
     <img alt="" src="./assets/krishna.png" />
  </ion-thumbnail>
  <ion-label>
         श्री कृष्ण चालीसा
  </ion-label>
</ion-item>
<ion-item detail>
  <ion-thumbnail slot="start">
    <img alt="" src="./assets/shivji.png" />
  </ion-thumbnail>
  <ion-label>
   श्री शिव चालीसा
  </ion-label>
</ion-item>
<ion-item detail>
  <ion-thumbnail slot="start">
        <img alt="" src="./assets/mata.png" />
  </ion-thumbnail>
  <ion-label>
  श्री दुर्गा चालीसा
  </ion-label>
</ion-item>
<ion-item detail>
  <ion-thumbnail slot="start">
        <img alt="" src="./assets/tulsi.png" />
  </ion-thumbnail>
  <ion-label>
   तुलसी चालीसा
  </ion-label>
</ion-item>

</ion-list>
</ion-scroll>
</ion-app>
</ion-content>
