<ion-header [translucent]="true">
  <ion-toolbar color="primary">
<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title size="">हमारे बारे में</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<p>सूर्योदय : 06:09 ए एम</p>

<p>सूर्यास्त : 06:40 पी एम</p>

<p>चन्द्रोदय : 04:11 पी एम</p>

<p>चन्द्रास्त05:14 ए एम, अप्रैल 04</p>

<p>शक सम्वत: 1945 शोभकृत्</p>

<p>विक्रम सम्वत : 2080 नल</p>

<p>गुजराती सम्वत : 2079 आनन्द</p>

<p>अमान्त महीना : चैत्र</p>

<p>पूर्णिमान्त महीना : चैत्र</p>

<p>वार: सोमवार</p>

<p>पक्ष : शुक्ल पक्ष</p>

<p>तिथि : द्वादशी - 06:24 ए एम तक</p>

<p>नक्षत्र : मघा - 07:24 ए एम तक</p>

<p>योगगण्ड :  03:41 ए एम, अप्रैल 04 तक</p>

<p>करण : बालव - 06:24 ए एम तक</p>

<p>द्वितीय करण : कौलव - 07:17 पी एम तक</p>

<p>सूर्य राशि : मीन</p>

<p>चन्द्र राशि : सिंह</p>

<p>राहुकाल : 07:43 ए एम से 09:17 ए एम</p>

<p>गुलिक काल : 01:58 पी एम से 03:32 पी एम</p>

<p>यमगण्ड : 10:51 ए एम से 12:25 पी एम</p>

<p>अभिजित मुहूर्त : 12:00 पी एम से 12:50 पी एम</p>

<p>दुर्मुहूर्त : 12:50 पी एम से 01:40 पी एम</p>

<p>ददुर्मुहूर्त : 12:50 पी एम से 01:40 पी एम</p>

<p>अमृत काल : 02:37 ए एम, अप्रैल 04 से</p>

<p>04:22 ए एम, अप्रैल 04 </p>

<p>वर्ज्य : 04:08 पी एम से 05:53 पी एम</p>

</ion-content>
