<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" [strong]="true">Back</ion-button>
    </ion-buttons>
    <ion-title>
     {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid style="background:#ff9933">
    <ion-row style="margin-bottom: -28px;">
         <ion-col><p style="font-size: 16px; color: #0c0b0b; font-weight: 600; ">  दिनांक : 27-12-2022 (मंगलवार) </p></ion-col>
       
     </ion-row>
     
       <ion-row style="margin-bottom:-28px;">
       <ion-col><p style="font-size: 14px; color: #0c0b0b; font-weight: 600;">  पक्ष  :  शुक्ल </p></ion-col>
       <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600;">    तिथि :  अष्टमी </p></ion-col>
       <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600;">    राष्ट्रीय : चैत्र  </p></ion-col>
     </ion-row>
     
         <ion-row >
       <ion-col><p style="font-size: 14px; color: #0c0b0b; font-weight: 600;  margin-bottom: -4px;">राहु</p> <p style="font-size: 12px; color: #0c0b0b; font-weight: 600; ">12.30-1.30</p></ion-col>
       <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600; margin-bottom: -4px;">  कुलिक </p> <p style="font-size: 12px; color: #0c0b0b; font-weight: 600;">12.30-1.30</p> </ion-col>
       <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600; margin-bottom: -4px;">   यमगंड </p> <p style="font-size: 12px; color: #0c0b0b; font-weight: 600;">12.30-1.30</p></ion-col>
     </ion-row>
   </ion-grid>
</ion-content>