<ion-header [translucent]="true">
  <ion-toolbar color="primary">
	  <ion-buttons slot="start"> <ion-menu-button menu="first" ></ion-menu-button>
	   </ion-buttons>
      <ion-title size="">आरती संग्रह</ion-title>
    </ion-toolbar>
  
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">

<!-- <ion-grid>
  <ion-row>
    <ion-col col-12>
    <ion-card>
  <ion-card-header>
    <ion-card-title style="font-weight: 600;">दिनांक : 27-12-2022 (मंगलवार)</ion-card-title>
   
  </ion-card-header>

  <ion-card-content > <p style="font-size: 12px; color: #0c0b0b; font-weight: 600;">   पक्ष  :  शुक्ल    |  तिथि :  अष्टमी ( बुधवार )   |  राष्ट्रीय : चैत्र  </p> 
  </ion-card-content>

</ion-card>
    </ion-col>
    
  </ion-row>
</ion-grid> -->

<ion-grid style="background:#ff9933">
 <ion-row style="margin-bottom: -28px;">
      <ion-col><p style="font-size: 16px; color: #0c0b0b; font-weight: 600; ">  दिनांक : 27-12-2022 (मंगलवार) </p></ion-col>
    
  </ion-row>
  
    <ion-row style="margin-bottom:-28px;">
    <ion-col><p style="font-size: 14px; color: #0c0b0b; font-weight: 600;">  पक्ष  :  शुक्ल </p></ion-col>
    <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600;">    तिथि :  अष्टमी </p></ion-col>
    <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600;">    राष्ट्रीय : चैत्र  </p></ion-col>
  </ion-row>
  
      <ion-row >
    <ion-col><p style="font-size: 14px; color: #0c0b0b; font-weight: 600;  margin-bottom: -4px;">राहु</p> <p style="font-size: 12px; color: #0c0b0b; font-weight: 600; ">12.30-1.30</p></ion-col>
    <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600; margin-bottom: -4px;">  कुलिक </p> <p style="font-size: 12px; color: #0c0b0b; font-weight: 600;">12.30-1.30</p> </ion-col>
    <ion-col> <p style="font-size: 14px; color: #0c0b0b; font-weight: 600; margin-bottom: -4px;">   यमगंड </p> <p style="font-size: 12px; color: #0c0b0b; font-weight: 600;">12.30-1.30</p></ion-col>
  </ion-row>
</ion-grid>


<ion-grid [fixed]="true" class="sud">
  <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div class="orangeBox">
 <ion-img src="./assets/aarti2.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div class="orangeBox">
    <ion-img src="./assets/Chalisa2.png" alt="" style=""></ion-img>
	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div class="orangeBox">
 <ion-img src="./assets/mantra2.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div class="orangeBox">
 <ion-img src="./assets/bhajan2.png" alt="" style=""></ion-img>
</div>
    </ion-col>
  </ion-row>
  
   <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div><a href="/list/1">
<ion-label class="user_Name" >आरतियाँ</ion-label></a>

</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div ><a href="/list/2">
  <ion-label class="user_Name">चालीसा</ion-label></a>

	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div><a href="/list/3">
 <ion-label class="user_Name">मंत्र</ion-label></a>

</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div ><a href="/list/8">
<ion-label class="user_Name">भजन </ion-label></a>

</div>
    </ion-col>
  </ion-row>
  
  
</ion-grid>

<ion-grid [fixed]="true" class="sud">
  <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div class="orangeBox">
 <ion-img src="./assets/sundarkand.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div class="orangeBox">
    <ion-img src="./assets/vrat.png" alt="" style=""></ion-img>
	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div class="orangeBox">
 <ion-img src="./assets/khataye.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div class="orangeBox">
 <ion-img src="./assets/festival.png" alt="" style=""></ion-img>
</div>
    </ion-col>
  </ion-row>
  
   <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div><a href="/sundarkand">
<ion-label class="user_Name" >सुन्दर काण्ड</ion-label>
</a>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div ><a href="/list/14">
  <ion-label class="user_Name">व्रत</ion-label></a>

	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div><a href="/list/14">
 <ion-label class="user_Name">कथाएं</ion-label></a>

</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div >
<ion-label class="user_Name">त्यौहार </ion-label>

</div>
    </ion-col>
  </ion-row>
  
  
</ion-grid>


<ion-grid>
  <ion-row>
  
      <ion-col col-6>
    
<a href="/list/9">
   <ion-img src="./assets/maxresdefault.jpg" alt="" style=""></ion-img></a>
 

    </ion-col>
    
  <ion-col col-6>
    

   <ion-img src="./assets/sundarkand.jpg" alt="" style=""></ion-img>
 

    </ion-col>
    
	
  </ion-row>
</ion-grid>


<ion-grid [fixed]="true" class="sud">
  <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div class="orangeBox">
 <ion-img src="./assets/ved.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div class="orangeBox">
    <ion-img src="./assets/shahastranaam.png" alt="" style=""></ion-img>
	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div class="orangeBox">
 <ion-img src="./assets/puran.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div class="orangeBox">
 <ion-img src="./assets/ram2.png" alt="" style=""></ion-img>
</div>
    </ion-col>
  </ion-row>
  
   <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div><a href="/list/7">
<ion-label class="user_Name" >वेद</ion-label></a>

</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div ><a href="/list/278">
  <ion-label class="user_Name">सहस्रनाम</ion-label></a>

	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div><a href="/list/6">
 <ion-label class="user_Name">पुराण</ion-label></a>

</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div ><a href="/list/376">
<ion-label class="user_Name"> रामचरितमानस  </ion-label></a>

</div>
    </ion-col>
  </ion-row>
  
  
</ion-grid>





</ion-content>
