<ion-header>
 <ion-toolbar color="primary">
	  <ion-buttons slot="start"> <ion-menu-button menu="first" ></ion-menu-button>
	   </ion-buttons>
      <ion-title size="">सुन्दर काण्ड</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">


<ion-grid [fixed]="true" class="sud">
  <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div class="orangeBox">
 <ion-img src="./assets/bhag1.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div class="orangeBox">
    <ion-img src="./assets/bhag2.png" alt="" style=""></ion-img>
	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div class="orangeBox">
 <ion-img src="./assets/bhag3.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div class="orangeBox">
 <ion-img src="./assets/bhag4.png" alt="" style=""></ion-img>
</div>
    </ion-col>
  </ion-row>

    <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div class="orangeBox">
 <ion-img src="./assets/bhag5.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div class="orangeBox">
    <ion-img src="./assets/bhag6.png" alt="" style=""></ion-img>
	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div class="orangeBox">
 <ion-img src="./assets/bhag7.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div class="orangeBox">
 <ion-img src="./assets/bhag8.png" alt="" style=""></ion-img>
</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 col-3 sudhir>
     <div class="orangeBox">
 <ion-img src="./assets/bhag9.png" alt="" style=""></ion-img>
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
	<div class="orangeBox">
    <ion-img src="./assets/bhag10.png" alt="" style=""></ion-img>
	</div>
	
    </ion-col>
    <ion-col col-12 col-3 sudhir>
  <div class="">
 
</div>
    </ion-col>
    <ion-col col-12 col-3 sudhir>
   <div class="">
 
</div>
    </ion-col>
  </ion-row>

</ion-grid>







</ion-content>
